


.card{
    display: flex;
    border: solid 3px red;
    flex-direction: column;
    margin: 10px;
    /* height: 400%; */
    /* width: 50px; */

}


.section-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
}